vti_encoding:SR|utf8-nl
vti_author:SR|ZIXIA\\Guest
vti_cachedlinkinfo:VX|S|safbana.gif S|safsepa.gif S|safbul1a.gif S|safbul2a.gif S|safbul3a.gif S|safnavha.gif S|safnavhh.gif S|safnavhe.gif S|safnavva.gif S|safnavve.gif S|safnavvh.gif S|safhoma.gif S|safhomah.gif S|safhomas.gif S|safnexa.gif S|safnexah.gif S|safnexas.gif S|safprea.gif S|safpreah.gif S|safpreas.gif S|safupa.gif S|safupah.gif S|safupas.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_syncwith_zixia\:80/copy_of_zhuohuan:TR|06 Nov 1998 19:26:21 +0800
vti_timecreated:TR|06 Nov 1998 19:26:21 +0800
vti_filesize:IX|2186
vti_modifiedby:SR|ZIXIA\\Guest
vti_cacheddtm:TX|06 Nov 1998 19:26:22 +0800
vti_backlinkinfo:VX|
vti_cachedhasbots:BR|false
vti_extenderversion:SR|3.0.2.926
vti_syncwith_zixia\\e\:\\homepage\\zhuohuan_backup:TR|06 Nov 1998 19:26:21 +0800
vti_timelastmodified:TR|06 Nov 1998 19:26:21 +0800
