vti_encoding:SR|utf8-nl
telnet\://bbs.mit.edu:byte_life/internet/bbs/pku/mit.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/sanguo/sanguo.html','netbook',false):special/old_site/main/super_links/paper/welcome.html
telnet\://202.112.55.69\:4000:intro_me/college/freshman/college_freshman.html
javascript\:newwin('http\://www.nease.net','lizhuohuan',true):special/old_site/index.html
http\://zixia.yeah.net:special/special.html intro_me/college/college_freshman.html
telnet\://bbs.tsinghua.edu.cn:byte_life/internet/bbs/smth/smth.html intro_me/college/freshman/college_freshman.html
javascript\:parent.daemons.newwin('ftp\://ftp.gznet.edu.cn','software',false):special/old_site/main/super_links/software/welcome.html
http\://www.3do.com:byte_life/game/bookmark.html/bookmark.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/otherservice/otherservice.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
http\://zixia.net:special/special.html
http\://1:special/leaveword/data/1.htm
javascript\:newwin('http\://project-hope.cydf.edu.cn','newcool',false):special/old_site/main/super_links/new&cool.html
http\://underwater.ml.org/html/sweeper.html:special/old_site/main/java_world/java_game.html
javascript\:parent.daemons.newwin('http\://tucows.gznet.edu.cn/files/addweb.exe','searchregist',false):special/old_site/main/super_links/search/welcome.html
http\://xiaoqing.home.chinaren.com:intro_me/my_family/girlfriend/girlfriend.html intro_me/my_family/girlfriend/album.htm
javascript\:parent.daemons.newwin('http\://pccms.pku.edu.cn\:8000/gbindex.htm','searchregist',false):special/old_site/main/super_links/search/welcome.html
javascript\:parent.daemons.newwin('http\://202.118.5.133/paulgao','newcool',false):special/old_site/main/super_links/new&cool.html
http\://www.marinet.or.jp/com/enix:byte_life/game/bookmark.html/bookmark.html
javascript\:parent.daemons.newwin('http\://www.webpedia.com','searchregist',false):special/old_site/main/super_links/search/welcome.html
http\://www.konami.com/:byte_life/game/bookmark.html/bookmark.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/nt/nt.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
javascript\:alert("暂时没有的说... \:p"):intro_me/college/my_class/college_class.htm
javascript\:parent.daemons.newwin('http\://www.addme.com','searchregist',false):special/old_site/main/super_links/search/welcome.html
special/leaveword/data/leaveword.asp:special/leaveword/data/1.htm
http\://166.111.4.11\:5066/docs/971322/tang.htm:special/old_site/main/super_links/new&cool.html
telnet\://202.112.55.68\:4000:byte_life/internet/mud/xo-i/xo-i.html
javascript\:parent.daemons.newwin('http\://www.all4one.com','searchregist',false):special/old_site/main/super_links/search/welcome.html
javascript\:popdiary();:special/history/history.html
javascript\:parent.daemons.newwin('http\://www.lib.tsinghua.edu.cn/chinese/internet/html/normal/html_design.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
special/old_site/java/showstatus.js:special/old_site/main/daemons.html
http\://www.sony.co.jp:byte_life/game/bookmark.html/bookmark.html
telnet\://202.112.203.235\:96:byte_life/internet/bbs/crspd/crspd.html
telnet\://bbs.gzsums.edu.cn:byte_life/internet/bbs/sex/sex.html
ftp\://akateam.ml.org:special/old_site/main/super_links/software/welcome.html
javascript\:parent.daemons.newwin('http\://tucows.gznet.edu.cn','software',false):special/old_site/main/super_links/software/welcome.html
javascript\:newwin('http\://202.99.175.20/pxkh/index.htm','newcool',false):special/old_site/main/super_links/new&cool.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/javabar/jdbc/jdbc.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
javascript\:newwin('http\://www.edu.cn/c_education/university/index.html','newcool',false):special/old_site/main/super_links/new&cool.html
http\://zixia.go.163.com:special/history/history.html
http\://yongqing.home.chinaren.com:intro_me/college/sophomore/college_sophomore.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/code/code.html','searchregist',false):special/old_site/main/super_links/search/welcome.html
http\://stream.ioa.ac.cn/html/java.html:special/old_site/main/java_world/java_game.html
javascript\:parent.daemons.newwin('http\://microsoft.scut.edu.cn','software',false):special/old_site/main/super_links/software/welcome.html
http\://www.263.net:byte_life/internet/free_source/e-mail/e-mail.html
javascript\:parent.daemons.newwin('http\://www.lib.tsinghua.edu.cn/chinese/internet/microsoft/','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
javascript\:newwin('http\://www.tsinghua.edu.cn/open_lab/index.html','lizhuohuan',true):special/old_site/index.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/javabar/js/js.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
javascript\:parent.daemons.newwin('http\://www.buptnet.edu.cn/tucows','software',false):special/old_site/main/super_links/software/welcome.html
javascript\:newwin('http\://computer.igd.edu.cn/~zhuohuan/main/main.html','lizhuohuan',true):special/old_site/index.html
javascript\:newwin('http\://www.computer-china.com','newcool',false):special/old_site/main/super_links/new&cool.html
http\://www.sony.com:byte_life/game/bookmark.html/bookmark.html
javascript\:parent.daemons.newwin('http\://web.lnu.edu.cn/proxy/toc_msp.htm','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
http\://mcgi.163.com/cgi-bin/count.cgi:index.html
http\://se-chatter.aka.org.cn:intro_me/college/sophomore/college_sophomore.html
http\://ntbin.igd.edu.cn/_igd_bin/igdcount.dll:special/old_site/main/main_window.html
javascript\:newwin('main/main.html','lizhuohuan',true);:special/old_site/index.html
mailto\:zixia@yahoo.com:special/leaveword.html special/old_site/main/intro_me/welcome.html index.html intro_me/intro_me.htm intro_me/my_family/wife/wife.html intro_me/my_family/lover/lover.html special/old_site/main/main_window.html
javascript\:newwin('http\://www.iinchina.net','newcool',false):special/old_site/main/super_links/new&cool.html
javascript\:newwin('http\://www.sfw-cd.com','newcool',false):special/old_site/main/super_links/new&cool.html
http\://www.spin.ad.jp/square/:byte_life/game/bookmark.html/bookmark.html
http\://www.netaddress.com:byte_life/internet/free_source/e-mail/e-mail.html
javascript\:parent.daemons.newwin('http\://compass.net.edu.cn\:8010','searchregist',false):special/old_site/main/super_links/search/welcome.html
http\://zhuohuan.iscool.net/:special/friend.html
javascript\:alert('邓大吉：当时ｘｘｘ对邓小平的称呼。\\r\\n　　　　　　　──李卓桓注');:intro_me/my_family/dad/writings/revolution2.html
javascript\:parent.daemons.newwin('http\://www.lib.tsinghua.edu.cn/chinese/internet/javascript','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
http\://stream.ioa.ac.cn/blackjack/blackjack.html:special/old_site/main/java_world/java_game.html
javascript\:parent.daemons.newwin('http\://www.websitegarage.com','searchregist',false):special/old_site/main/super_links/search/welcome.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/javabar/java/javabook.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
javascript\:htmltestboard=open('htmlboard/testboard.html','htmltestboard','menubar=0,toolbar=0,scrollbars=1,width=600,height=400,resizable=1');:byte_life/internet/net_teaching/net_teaching.html
special/leaveword/data/images/goback.gif:special/leaveword/data/1.htm
http\://bbs.tsinghua.edu.cn/cgi-bin/bbsquery:special/leaveword/data/1.htm
http\://stream.ioa.ac.cn/html/maze.html:special/old_site/main/java_world/java_game.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/lnsport/tennis/book/book.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
http\://www.126.com:byte_life/internet/free_source/e-mail/e-mail.html
javascript\:alert('哈哈，我怎么会有... ...');:byte_life/internet/mud/zh/zh.html
ftp\://akateam.ml.org//incoming/xo1/xo0.9+driver.tgz:special/old_site/main/super_links/software/welcome.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/www/www5/www5.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/proxy/proxy.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
http\://www.lucasarts.com:byte_life/game/bookmark.html/bookmark.html
javascript\:parent.daemons.newwin('','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
http\://cn.yahoo.com/:byte_life/byte_life.htm
http\://go.163.com/~zixia:special/friend.html
special/leaveword/data/images/fcangry.gif:special/leaveword/data/1.htm
javascript\:parent.daemons.newwin('http\://search.igd.edu.cn','searchregist',false):special/old_site/main/super_links/search/welcome.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/hlm/hlm.html','netbook',false):special/old_site/main/super_links/paper/welcome.html
mailto\:ldw@public.hh.nm.cn:intro_me/college/freshman/college_freshman.html
telnet\://bbs.gznet.com:byte_life/internet/bbs/bluesky/bluesky.html
http\://www.nintendo.co.jp:byte_life/game/bookmark.html/bookmark.html
javascript\:parent.daemons.newwin('http\://web.lnu.edu.cn/iisadmin/htmldocs/iisdocs.htm','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
http\://computer.igd.edu.cn/images/cyberspace_big.gif:special/old_site/index.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/www/www7/www7.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
http\://www.sega.co.jp:byte_life/game/bookmark.html/bookmark.html
http\://www.namco.com/:byte_life/game/bookmark.html/bookmark.html
telnet\://bbs.nease.net:byte_life/internet/bbs/bbs.html
javascript\:(htmltestboard=open('testboard.html','htmltestboard','menubar=0,toolbar=0,scrollbars=1,width=600,height=400,resizable=1')).focus();:special/old_site/main/super_links/net_teaching/welcome.html
http\://www.163.net:byte_life/internet/free_source/e-mail/e-mail.html
telnet\://202.112.55.68\:6666:byte_life/internet/mud/xo-i/xo-i.html
telnet\://202.114.2.3\:4000:byte_life/internet/mud/xo-i/xo-i.html
special/leaveword/data/images/saftextr.jpg:special/leaveword/data/1.htm
mailto\:1:special/leaveword/data/1.htm
http\://www.interplay.com/:byte_life/game/bookmark.html/bookmark.html
http\://www.nintendo.com:byte_life/game/bookmark.html/bookmark.html
javascript\:parent.daemons.newwin('http\://www.cyberspacehq.com','searchregist',false):special/old_site/main/super_links/search/welcome.html
javascript\:parent.daemons.newwin('http\://akateam.ml.org','software',false):special/old_site/main/super_links/software/welcome.html
http\://www.sierra.com/:byte_life/game/bookmark.html/bookmark.html
javascript\:parent.daemons.newwin('http\://www.register-it.com','searchregist',false):special/old_site/main/super_links/search/welcome.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/sh/sh.html','netbook',false):special/old_site/main/super_links/paper/welcome.html
mailto\:suigh@hotmail.com:intro_me/college/freshman/college_freshman.html
mailto\:oper@263.net:byte_life/internet/mud/zmud/zmud.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/javabar/applet/javapplet.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
http\://www.sega.com:byte_life/game/bookmark.html/bookmark.html
javascript\:parent.daemons.newwin('http\://www.mamma.com','searchregist',false):special/old_site/main/super_links/search/welcome.html
javascript\:alert('赫赫，无法直接连接，必须先连到［真情流露］站，然后再穿梭。');:byte_life/internet/bbs/ritt/ritt.html
javascript\:newwin('http\://www.263.net.cn','newcool',false):special/old_site/main/super_links/new&cool.html
javascript\:newwin('http\://169.226.23.7','newcool',false):special/old_site/main/super_links/new&cool.html
http\://aka.org.cn:intro_me/college/sophomore/college_sophomore.html
javascript\:parent.daemons.newwin('ftp\://202.120.6.34','newcool',false):special/old_site/main/super_links/new&cool.html
special/old_site/pict/welcome.html:special/old_site/main/super_links/left_bar.html
http\://nease.net:byte_life/internet/free_source/homepage/homepage.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/sysi/systemi.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
telnet\://bbs.ncic.ac.cn:byte_life/internet/bbs/bbs.html
http\://www.hudson.co.jp/:byte_life/game/bookmark.html/bookmark.html
http\://zixia.go.luntan.163.com:special/leaveword/leaveword.html
http\://computer.igd.edu.cn:special/old_site/index.html intro_me/college/freshman/college_freshman.html
http\://www.hotmail.com:byte_life/internet/free_source/e-mail/e-mail.html
javascript\:parent.daemons.newwin('http\://www.metacrawler.com','searchregist',false):special/old_site/main/super_links/search/welcome.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/englishw/englishw.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/www/www6/www6.html','teachbook',false):special/old_site/main/super_links/net_teaching/welcome.html
javascript\:parent.daemons.newwin('http\://www.lnu.edu.cn/xy/xy.html','netbook',false):special/old_site/main/super_links/paper/welcome.html
javascript\:parent.daemons.newwin('ftp\://mssite.tsinghua.edu.cn','software',false):special/old_site/main/super_links/software/welcome.html
