vti_encoding:SR|utf8-nl
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_dependenciesood:IR|1
vti_copytimestamp_e\:\\homepage/:TR|11 Oct 1998 17:12:05 +0800
vti_copytimestamp_http\://zixia/zhuohuan_pub:TR|08 Oct 1998 14:09:56 +0800
vti_navbuttonnextlabel:SR|Next
vti_themedefault:SR|safari 111
vti_webservertype:SR|msiis
vti_extenderversion:SR|3.0.2.1105
vti_borderdefault:SR|tl
vti_navbuttonprevlabel:SR|Back
vti_timecreated:TR|05 Aug 1998 21:03:35 +0800
vti_approvallevels:VR|内容检查 合法检查 代码检查 经理评估
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_structto_zixia\:80/copy_of_zhuohuan:TR|17 Nov 1998 11:42:23 +0800
vti_oldestcompatibleversion:SR|2.0.0.0
vti_structto_zixia\:80/zhuohuan_pub:TR|08 Oct 1998 13:59:33 +0800
vti_restartmanual:IX|0
vti_defaultcharset:SR|gb2312
vti_defaultlanguage:SR|en
vti_hassearchbot:BR|false
vti_autorecalc:IX|1
vti_copytimestamp_e\:\\homepage\\zhuohuan_backup/:TR|17 Nov 1998 13:31:03 +0800
vti_navbuttonhomelabel:SR|Home
vti_structfrom_localhost\:80:TR|09 Aug 1998 20:33:27 +0800
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_structto_zixia\\e\:\\homepage:TR|11 Oct 1998 16:53:03 +0800
vti_structto_zixia\\e\:\\homepage\\zhuohuan_backup:TR|17 Nov 1998 11:42:23 +0800
vti_showhiddenpages:IR|0
vti_missingoverlays:VX|
vti_missingoverlaylabels:VX|
vti_insecureserverurl:SR|file://
vti_disableautoimgsizeexts:SX|.asp
vti_httpdversion:SX|FrontPage DBW
vti_casesensitiveurls:IX|0
vti_copytimestamp_http\://zixia/copy_of_zhuohuan:TR|17 Nov 1998 13:00:33 +0800
vti_textextensions:SX|.txt.
vti_navbuttonuplabel:SR|Up
vti_ignorekeyboard:IR|1
vti_textindexood:IR|0
